body{
    background-image: url(fondo.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}
.container {
    text-align: center;
    background-color:transparent;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
}
h1 {
    color: #e74c3c;
    font-size: 30px;
}
img {
    width: 300px;
    border-radius: 10px;
    margin: 20px 0;
}
button {
    padding: 15px 30px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
.btn-green {
    background-color: #28a745;
    color: white;
}
.btn-red {
    background-color: #dc3545;
    color: white;
}
.btn-blue {
    background-color: #ff5555;
    color: white;
}
.hidden {
    display: none;
}
.message {
    font-size: 20px;
    color: #e74c3c;
}